html {
  scroll-behavior: smooth;
  scroll-padding-top: 55px;
}

/* body {
    padding: 0;
    margin: 0;
    background: #5cc6cc;
    font-family: Calibri;
} */
.navbar {
    background:#30c8d4;
}
.nav-link,
.navbar-brand {
    color: #000;
    cursor: pointer;
}
.navbar-brand:hover {
    color: #fff;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #fff;

}
.navbar-collapse {
    justify-content: flex-end;
}


h2
{
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

h3
{
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

h4
{
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

.bgimg {
    /* background-image: url('./images/cover_photo1.jpeg'); */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    position: relative;
}


.scroll{
  background-color: lightblue;
  border: 1px solid black;
  height: 300px;
  width: 1000px;
  overflow: scroll;
  overflow-y: hidden;
  white-space:nowrap;
  margin: 4.5em 0 0;
}

.description {
	left: 27%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -55%);
	text-align: center;
}
.description h1 {
	color: #000000;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}
.description p {
	color: #000000;
	font-size: 1.3rem;
	line-height: 1.5;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

.features {
	margin: 0 0;
	padding: 1em;
	position: relative;
}
.feature-title {
	color: #333;
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.features img {
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	margin-bottom: 16px;
}

.blue_grad1 {
  background: linear-gradient(to bottom, #0066cc 0%, #66ccff 100%);
}

.blue_to_pink_grad1 {
  background: linear-gradient(to bottom, #66ccff 0%, #ff9999 100%);
}

.pink_to_blue_grad1 {
  background: linear-gradient(to bottom, #ff9999 0%, #66ccff 100%);
}

.blue_grad2 {
  background: linear-gradient(to bottom, #66ccff 0%, #0066cc 100%);
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
}

/* Hide the images by default */
.mySlides {
  display: none;
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 10s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
