html {
  scroll-behavior: smooth;
  scroll-padding-top: 55px;
}

body {
    padding: 0;
    margin: 0;
    background: #5cc6cc;
    font-family: Calibri;
}
.navbar {
    background:#30c8d4;
}
.nav-link,
.navbar-brand {
    color: #000;
    cursor: pointer;
}
.navbar-brand:hover {
    color: #fff;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #fff;

}
.navbar-collapse {
    justify-content: flex-end;
}

p
{
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

h1
{
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

h2
{
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

h3
{
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

h4
{
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

.bgimg {
    background-image: url('./images/cover_photo1.jpeg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    position: relative;
}

.header {
    background-image: url('images/cover_photo1.jpeg');
    background-size: cover;
    background-position: center;
    position: relative;
}


.scroll{
  background-color: lightblue;
  border: 1px solid black;
  height: 300px;
  width: 1000px;
  overflow: scroll;
  overflow-y: hidden;
  white-space:nowrap;
  margin: 4.5em 0 0;
}

.description {
	left: 27%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -55%);
	text-align: center;
}
.description h1 {
	color: #000000;
}
.description p {
	color: #000000;
	font-size: 1.3rem;
	line-height: 1.5;
}

.features {
	margin: 0 0;
	padding: 1em;
	position: relative;
}
.feature-title {
	color: #333;
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.features img {
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	margin-bottom: 16px;
}

.row {
 overflow: scroll;
 overflow-y: hidden;
 width: 100%;
}
.row__inner {
 transition: 450ms transform;
 font-size: 0;
 white-space: nowrap;
 margin: 70.3125px 0;
 padding-bottom: 10px;
}
.tile {
 position: relative;
 display: inline-block;
 width: 212px;
 height: auto;
 margin-right: 10px;
 font-size: 20px;
 cursor: pointer;
 transition: 450ms all;
 transform-origin: center left;
}
.tile__img {
 width: 212px;
 height: auto;
 -o-object-fit: cover;
 object-fit: cover;
}

.row__inner:hover {
 transform: translate3d(-62.5px, 0, 0);
}
.row__inner:hover .tile {
 opacity: 0.3;
}
.row__inner:hover .tile:hover {
 transform: scale(1.5);
 opacity: 1;
}
.tile:hover~.tile {
 transform: translate3d(125px, 0, 0);
}
