html {
  scroll-behavior: smooth;
  scroll-padding-top: 55px;
}

* {
    margin: 0;
    padding: 0;
}
.imgbox {
    display: grid;
    height: 100%;
    ackground:#30c8d4;
}
.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

/* body {
    padding: 0;
    margin: 0;
    background: #5cc6cc;
    font-family: Calibri;
} */
.navbar {
    background:#30c8d4;
}
.nav-link,
.navbar-brand {
    color: #000;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    cursor: pointer;
}
.navbar-brand:hover {
    color: #fff;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #fff;

}
.navbar-collapse {
    justify-content: flex-end;
}

h1 {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-size: 1.2rem;
}

h2
{
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-size: 1.2rem;
}

h3
{
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-size: 1.2rem;
}

h4
{
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-size: 1.2rem;
}

p
{
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-size: 1.2rem;
}

/* unvisited link */
/*a:link {
  color: #3a3a3a;
}*/

/* visited link */
/*a:visited {
  color: #3a3a3a;
}*/

/* mouse over link */
/*a:hover {
  color: #fff;
}*/

/* selected link */
/*a:active {
  color: #fff;
}*/

.bgimg {
    background-image: url('./images/cover_bg1.jpeg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    position: relative;
    /* padding-top: 20%; */
    padding-left: 20%;
    padding-right: 20%;
}


.scroll{
  background-color: lightblue;
  border: 1px solid black;
  height: 300px;
  width: 1000px;
  overflow: scroll;
  overflow-y: hidden;
  white-space:nowrap;
  margin: 4.5em 0 0;
}

.description {
	left: 27%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -55%);
	text-align: center;
}
.description h1 {
	color: #000000;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-size: 1.2rem;
}
.description p {
	color: #000000;
	font-size: 1.3rem;
	line-height: 1.5;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

.features {
	margin: 0 0;
	padding: 3em;
	position: relative;
  padding-left: 20%;
  padding-right: 20%;
}
.feature-title {
	color: #333;
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.features img {
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	margin-bottom: 16px;
}

.bgimg1 {
    background-image: url('./images/box1v6.png');
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center; */
    position: relative;
    background-repeat: repeat;
    padding-left: 20%;
    padding-right: 20%
}

.bgimg2 {
    background-image: url('./images/box2v1.png');
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center; */
    position: relative;
    background-repeat: repeat;
    padding-left: 20%;
    padding-right: 20%
}

.bgimg3 {
    background-image: url('./images/box3v1.png');
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center; */
    position: relative;
    background-repeat: repeat;
    padding-left: 20%;
    padding-right: 20%
}

.bgimg4 {
    background-image: url('./images/box4v1.png');
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center; */
    position: relative;
    background-repeat: repeat;
    padding-left: 20%;
    padding-right: 20%
}

.bgsolid1 {
  background-color: #30c8d4;
}

.bgsolid2 {
  background-color: #ffdedd;
  padding-left: 15%;
  padding-right: 15%;
}

.bgsolid3 {
  background-color: #f0eee4;
  padding-left: 15%;
  padding-right: 15%;
}

.bgsolid4 {
  background-color: #ffdedd;
  padding-left: 15%;
  padding-right: 15%;
}

.bgsolid5 {
  background-color: #ffc2c1;
  padding-left: 15%;
  padding-right: 15%;
}

/* .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
} */

.blue_grad1 {
  background: linear-gradient(to bottom, #0066cc 0%, #66ccff 100%);
}

.blue_to_pink_grad1 {
  background: linear-gradient(to bottom, #66ccff 0%, #ff9999 100%);
}

.pink_to_blue_grad1 {
  background: linear-gradient(to bottom, #ff9999 0%, #66ccff 100%);
}

.blue_grad2 {
  background: linear-gradient(to bottom, #66ccff 0%, #0066cc 100%);
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
}

/* Hide the images by default */
.mySlides {
  display: none;
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 4s;
}

@keyframes fade {
  from {opacity: .6}
  to {opacity: 1}
}
